In [ ]:
Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.
Ans:

In [1]:
import pandas as pd
data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [ ]:
Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [2]:
import pandas as pd
l1 = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
my_series = pd.Series(l1)
print(my_series)

0     10
1     20
2     30
3     40
4     50
5     60
6     70
7     80
8     90
9    100
dtype: int64

In [ ]:
Q3. Create a Pandas DataFrame that contains the following data:
Then, print the DataFrame.

In [3]:
import pandas as pd
data = {'Name': ['Alice','Bob','Claire'],

        'Age': [25, 30, 27],

        'Gender': ['Female','Male','Female']}

df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [ ]:
Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.
Ans:
A DataFrame in pandas is a two-dimensional data structure that contains rows and columns, similar to a table in a relational database.
It can be thought of as a collection of Pandas Series objects that share the same index. 
The columns can have different data types and can be labeled with column names.

In contrast, a Pandas Series is a one-dimensional data structure that represents a single column of data, along with an index. 
It can contain data of a single data type and is labeled with a series name.

In [ ]:
We Can use above question to justify the difference between Series and DataFrames

In [4]:
import pandas as pd
l1 = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
my_series = pd.Series(l1)
print(type(my_series))
print(my_series)

data = {'Name': ['Alice','Bob','Claire'],
        'Age': [25, 30, 27],
        'Gender': ['Female','Male','Female']}
df = pd.DataFrame(data)
print(type(df))
print(df)

<class 'pandas.core.series.Series'>
0     10
1     20
2     30
3     40
4     50
5     60
6     70
7     80
8     90
9    100
dtype: int64
<class 'pandas.core.frame.DataFrame'>
     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [ ]:
Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?
Ans:

In [ ]:
1.head() and tail() functions: These functions are used to view the top or bottom few rows of a DataFrame, respectively. 
They are useful for quickly checking the structure and content of a DataFrame.

In [6]:
import pandas as pd
data = {'Name': ['Alice','Bob','Claire'],
        'Age': [25, 30, 27],
        'Gender': ['Female','Male','Female']}
df = pd.DataFrame(data)

In [10]:
df.head(2)

    Name  Age  Gender
0  Alice   25  Female
1    Bob   30    Male

In [11]:
df.tail(2)

     Name  Age  Gender
1     Bob   30    Male
2  Claire   27  Female

In [ ]:
2.describe() function: This function is used to generate descriptive statistics for a DataFrame, including count, mean, standard deviation, minimum, maximum, and quartile values.

In [12]:
print(df.describe())

             Age
count   3.000000
mean   27.333333
std     2.516611
min    25.000000
25%    26.000000
50%    27.000000
75%    28.500000
max    30.000000

In [ ]:
3.sort_values() function: This function is used to sort the rows of a DataFrame based on one or more columns. 
It can be used to organize data by specific criteria.

In [13]:
df_sorted = df.sort_values('Age', ascending=False)
print(df_sorted)

     Name  Age  Gender
1     Bob   30    Male
2  Claire   27  Female
0   Alice   25  Female

In [ ]:
Q6. Which of the following is mutable in nature Series, DataFrame, Panel?
Ans:
In Pandas, Series and DataFrame are mutable in nature, while Panel is considered immutable. 
This means that you can change the values of a Series or DataFrame after it has been created, but you cannot change the values of a Panel.

In [ ]:
Q7. Create a DataFrame using multiple Series. Explain with an example.

In [19]:
import pandas as pd

names = pd.Series(['John', 'Alice', 'Bob', 'Mary'])
ages = pd.Series([25, 32, 47, 19])
gender = pd.Series(['Male','Female','Male','Female'])

df = pd.DataFrame({'Name': names, 'Age': ages, 'Gender': gender})
print(df)

    Name  Age  Gender
0   John   25    Male
1  Alice   32  Female
2    Bob   47    Male
3   Mary   19  Female